
.admin-styles {

    div.form-row {
        .fg-related-widget-wrapper {
            @media (min-width: 768px) {
                // non floating forms, like this:
                //
                // Label:
                // Widget
                //
                float: none;
                box-sizing: border-box;
                width: 100%;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}
