.fg-button,
a.fg-button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: auto;
    height: 35px;
    padding: 8px 10px;
    line-height: 15px;
    margin: 0 10px;

    .svg-icon {
        fill: #fff;
    }
}
