*.pyc
*.sqlite
*.pyo
.installed.cfg
bin
public/
develop-eggs
dist
downloads
eggs
parts
build
tmp
*.egg-info
*.egg
.DS_Store
.project
.pydevproject
.settings
*~
docs/_build
distribute*
lib/
include/
tests/tmp/
*.coverage
coverage.xml
pep8.txt
htmlcov/
share/
.idea
/env
/envs
.tox
/package-lock.json
testenv1
node_modules/
.python-version