include LICENSE
include README.md
include PYPI.md
global-exclude *.orig *.pyc *.log *.swp

recursive-include filer_addons/filer_gui *
recursive-include filer_addons/filer_signals *
recursive-include filer_addons/filer_utils *
