{% spaceless %}
{% load i18n filer_admin_tags staticfiles thumbnail %}
    <div class="filer-gui-file-widget">
        {{ rawid_input }}
        <div class="preview">
            {% if object %}
                {% if object.file_type == 'Image' and object.icons.32 %}
                    {% thumbnail object 160x100 as thumb %}
                    <img class="thumbnail-img" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                {% elif object.icons.32 %}
                    <img class="icon-img" src="{{ object.icons.48 }}" alt="{{ object.label }}">
                {% else %}
                    <span class="missing-file">{% trans 'File is missing' %}</span>
                {% endif %}
            {% else %}
                <span class="no-file">{% trans 'No file' %}</span>
            {% endif %}
        </div>
        <div class="tools">
            <a class="button tool" href="{{ lookup_url }}" target="_blank">
                {% include 'admin/filer_gui/svg/icon-lookup.svg' %}
                <span class="label">{% trans 'Choose File' %}</span>
            </a>
        </div>
        <div class="uploader">
            <div class="filergui-widget-dropzone">
                <div class="dz-default dz-message">
                    <span>{% trans "drop your file here" %}</span>
                </div>
            </div>
            <div class="dz-preview dz-file-preview hidden js-filer-dropzone-template">
                <span class="filerFile">
                    <div class="dz-thumbnail"><img class="quiet" data-dz-thumbnail></div>
                    <span data-dz-name class="dz-name"></span>
                    <div class="dz-progress js-filer-dropzone-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                </span>
            </div>
        </div>
        <div class="info">
            {% if object %}
                <div class="name">
                    <span class="label">{% trans 'Name' %}: </span>
                    <span class="value">{% if object.icons.32 %}{{ object.label }}{% else %}{% trans 'file missing' %}{% endif %}</span>
                </div>
                {% if object.icons.32 %}
                    <div class="size">
                        <span class="label">{% trans 'Size' %}: </span>
                        <span class="value">{{ object.size }} Bite</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endspaceless %}